/* Advent of Code (Green) */
/* https://github.com/956MB/boosts/blob/main/aoc.css */

/* https://adventofcode.com/ */

body {
	background: #0b190d !important;
}

code::before {
	background: #071008 !important;
}

input[type="radio"] ~ span:hover,
input[type="checkbox"] ~ span:hover,
input[type="radio"] ~ span:focus,
input[type="checkbox"] ~ span:focus {
	background: #0e2111 !important;
}

.stats > a:hover,
.stats > a:focus {
	background-color: #0e2111 !important;
}

.calendar a:hover {
	background-color: rgba(142, 142, 142, 0.2) !important;
}

.stats-firstonly {
	color: #b2b2b3 !important;
}
