/* Claude Neutral (Darkest, VSCode Syntax) */
/* https://github.com/956mb/boosts/blob/main/claude-neutral-darkest-vscode.css */

/* https://claude.ai/ */

[data-mode="light"] {
	color-scheme: light !important;
	--text-000: 0 0% 5.5% !important;
	--text-100: 0 0% 13.3% !important;
	--text-200: 0 0% 20% !important;
	--text-300: 0 0% 30% !important;
	--text-400: 0 0% 37% !important;
	--text-500: 0 0% 42.1% !important;
	--bg-000: 0 0% 97.1% !important;
	--bg-100: 0 0% 94.9% !important;
	--bg-200: 0 0% 92% !important;
	--bg-300: 0 0% 87.8% !important;
	--bg-400: 0 0% 82% !important;
	--bg-500: 0 0% 71% !important;
}

[data-mode="dark"] {
	color-scheme: dark !important;
	--text-000: 0 0% 97.1% !important;
	--text-100: 0 0% 94.9% !important;
	--text-200: 0 0% 89.2% !important;
	--text-300: 0 0% 79% !important;
	--text-400: 0 0% 69.2% !important;
	--text-500: 0 0% 62.9% !important;
	--bg-000: 0 0% 11.8% !important;
	--bg-100: 0 0% 9.5% !important;
	--bg-200: 0 0% 8.6% !important;
	--bg-300: 0 0% 6.4% !important;
	--bg-400: 0 0% 4.9% !important;
	--bg-500: 0 0% 3% !important;
}

.prismjs.code-block__code,
code[class*="language-"],
.code-block__code[style*="background"],
.code-block__code[style],
.code-block__code[style] code,
.code-block__code code[style],
.code-block__code * {
	background: #181818 !important;
	background-color: #181818 !important;
}

span.token[style*="color: rgb(92, 99, 112)"][style*="font-style: italic"]:not(
		[style*="font-weight:"]
	) {
	color: #666666 !important;
}
span.token[style*="color: rgb(224, 108, 117)"] {
	color: #c586c0 !important;
}
span.token[style*="color: rgb(198, 120, 221)"] {
	color: #569cd6 !important;
}
span.token.unit,
span.token[style*="color: rgb(152, 195, 121)"],
span.token.attribute[style*="color: rgb(152, 195, 121)"] {
	color: #ce9178 !important;
}
span.token.class[style*="color: rgb(152, 195, 121)"] {
	color: #4ec9b0 !important;
}
span.token[style*="color: rgb(97, 175, 239)"],
span.token.pseudo-element[style*="color: rgb(152, 195, 121)"] {
	color: #dcdcaa !important;
}
span.token.attribute[style*="color: rgb(209, 154, 102)"] {
	color: #79c0ff !important;
}
span.token.attribute[style*="color: rgb(97, 175, 239)"] {
	color: var(--text-300) !important;
}
span.token[style*="color: rgb(209, 154, 102)"] {
	color: #c586c0 !important;
}

.comment,
.quote {
	color: #666666 !important;
}
.doctag,
.formula,
.keyword {
	color: #569cd6 !important;
}
.deletion,
.name,
.section,
.selector-tag,
.meta,
.subst {
	color: #569cd6 !important;
}
.literal {
	color: #56b6c2 !important;
}
.addition,
.attribute,
.meta-string,
.regexp,
.string {
	color: #ce9178 !important;
}
.built_in,
.class .title {
	color: #4ec9b0 !important;
}
.number {
	color: var(--text-300) !important;
}
.attr,
.selector-attr,
.selector-class,
.selector-pseudo,
.template-variable,
.type,
.variable {
	color: #d7ba7d !important;
}
.bullet,
.link,
.selector-id,
.symbol,
.title {
	color: #dcdcaa !important;
}
