/* Codeberg Gitea Neutral */
/* https://github.com/956MB/boosts/blob/main/codeberg-gitea-neutral.css */

/* https://codeberg.org/ */

:root {
	--color-secondary: #424242 !important;
	--color-secondary-dark-1: #4a4a4a !important;
	--color-secondary-dark-2: #535353 !important;
	--color-secondary-dark-3: #636363 !important;
	--color-secondary-dark-4: #767676 !important;
	--color-secondary-dark-5: #848484 !important;
	--color-secondary-dark-6: #929292 !important;
	--color-secondary-dark-7: #9e9e9e !important;
	--color-secondary-dark-8: #acacac !important;
	--color-secondary-dark-9: #b5b5b5 !important;
	--color-secondary-dark-10: #c0c0c0 !important;
	--color-secondary-dark-11: #cccccc !important;
	--color-secondary-dark-12: #d6d6d6 !important;
	--color-secondary-dark-13: #d9d9d9 !important;
	--color-secondary-light-1: #353535 !important;
	--color-secondary-light-2: #353535 !important;
	--color-secondary-light-3: #222222 !important;
	--color-secondary-light-4: #1b1b1b !important;
	--color-secondary-alpha-10: #42424219 !important;
	--color-secondary-alpha-20: #42424233 !important;
	--color-secondary-alpha-30: #4242424b !important;
	--color-secondary-alpha-40: #42424266 !important;
	--color-secondary-alpha-50: #42424280 !important;
	--color-secondary-alpha-60: #42424299 !important;
	--color-secondary-alpha-70: #424242b3 !important;
	--color-secondary-alpha-80: #424242cc !important;
	--color-secondary-alpha-90: #424242e1 !important;
	--color-console-fg: #f8f8f9 !important;
	--color-console-fg-subtle: #c4c4c4 !important;
	--color-console-bg: #1b1b1b !important;
	--color-console-border: #353535 !important;
	--color-console-hover-bg: #2d2d2d !important;
	--color-console-active-bg: #353535 !important;
	--color-console-menu-bg: #2b2b2b !important;
	--color-console-menu-border: #4a4a4a !important;
	--color-grey: #414141 !important;
	--color-grey-light: #8f8f8f !important;
	--color-body: #1f1f1f !important;
	--color-box-header: #1d1d1d !important;
	--color-box-body: #171717 !important;
	--color-box-body-highlight: #222222 !important;
	--color-text-dark: #f8f8f9 !important;
	--color-text: #d5d5d5 !important;
	--color-text-light: #c3c3c3 !important;
	--color-text-light-1: #afafaf !important;
	--color-text-light-2: #9b9b9b !important;
	--color-text-light-3: #878787 !important;
	--color-footer: var(--color-nav-bg) !important;
	--color-timeline: #3c3c3c !important;
	--color-input-text: var(--color-text-dark) !important;
	--color-input-background: #1a1a1a !important;
	--color-input-toggle-background: #353535 !important;
	--color-input-border: var(--color-secondary) !important;
	--color-input-border-hover: var(--color-secondary-dark-1) !important;
	--color-light: #00000028 !important;
	--color-light-mimic-enabled: rgba(
		0,
		0,
		0,
		calc(40 / 255 * 222 / 255 / var(--opacity-disabled))
	) !important;
	--color-light-border: #e8e8e828 !important;
	--color-hover: #e8e8e819 !important;
	--color-active: #3b3b3b !important;
	--color-menu: #1a1a1a !important;
	--color-card: #1a1a1a !important;
	--fancy-card-bg: #171717 !important;
	--fancy-card-border: #424242 !important;
	--color-markup-table-row: #e8e8e80f !important;
	--color-markup-code-block: #e8e8e812 !important;
	--color-markup-code-inline: #e8e8e828 !important;
	--color-button: #1a1a1a !important;
	--color-code-bg: #171717 !important;
	--color-shadow: #00000058 !important;
	--color-secondary-bg: #313131 !important;
	--color-expand-button: #353535 !important;
	--color-placeholder-text: var(--color-text-light-3) !important;
	--color-editor-line-highlight: var(--color-primary-light-5) !important;
	--color-project-column-bg: var(--color-secondary-light-2) !important;
	--color-caret: var(--color-text) !important;
	--color-reaction-bg: #e8e8e812 !important;
	--color-reaction-hover-bg: var(--color-primary-light-4) !important;
	--color-reaction-active-bg: var(--color-primary-light-5) !important;
	--color-tooltip-text: #fafafb !important;
	--color-tooltip-bg: #000000f0 !important;
	--color-nav-bg: #191919 !important;
	--color-nav-hover-bg: var(--color-secondary-light-1) !important;
	--color-nav-text: var(--color-text) !important;
	--color-secondary-nav-bg: #1c1c1c !important;
	--color-label-text: var(--color-text) !important;
	--color-label-bg: #828e8e4b !important;
	--color-label-hover-bg: #828e8ea0 !important;
	--color-label-active-bg: #828e8eff !important;
	--color-accent: var(--color-primary-light-1) !important;
	--color-small-accent: var(--color-primary-light-5) !important;
	--color-highlight-fg: #87651e !important;
	--color-highlight-bg: #352c1c !important;
	--color-overlay-backdrop: #080808c0 !important;
	--checkerboard-color-1: #313131 !important;
	--checkerboard-color-2: #212121 !important;
}
