/* F1TV Dark Fixes */
/* https://github.com/956MB/boosts/blob/main/f1tv-dark-fixes.css */

/* https://f1tv.formula1.com/* */

:root {
  color-scheme: dark !important;
}

.rail-bg-container {
  background: linear-gradient(#171720, #100e10) !important;
}

.header {
  background-color: #100e10 !important;
}

body,
footer {
  background-color: #100e10 !important;
}

.global-header {
  background-color: #100e10 !important;
  border-bottom: 1px solid #44444b !important;
}

.global-header-f1tvicon-arrow {
  display: none !important;
}

.global-header-links li a {
  color: #89898e !important;
}
.global-header-f-links li a:active,
.global-header-f-links li a:focus,
.global-header-f-links li a:hover {
  color: #d5d5dd !important;
}

.global-header-f1tvicon g path {
  fill: rgb(255, 255, 255) !important;
}

.global-header-f1tvicon:before,
.global-header-f1tvicon:after {
  background: #2e2e2e !important;
}

.btn-transparent {
  border: 1px solid #2e2e2e !important;
  box-shadow: none !important;
}

.user-name {
  color: #89898e !important;
}
