/* Github Neutral Light (VSCode syntax) */
/* https://github.com/956MB/boosts/blob/main/github-neutral-vscode-syntax-light.css */

/* https://*.github.com/ */

[data-color-mode="light"][data-light-theme*="light"],
[data-color-mode="auto"][data-light-theme*="light"] {
	--page-header-bgColor: #f7f7f7 !important;
	--topicTag-borderColor: #ffffff00 !important;
	--highlight-neutral-bgColor: #e8e8e866 !important;
	--codeMirror-fgColor: #1f2328 !important;
	--codeMirror-bgColor: #ffffff !important;
	--codeMirror-gutters-bgColor: #ffffff !important;
	--codeMirror-gutterMarker-fgColor-default: #ffffff !important;
	--codeMirror-gutterMarker-fgColor-muted: #666666 !important;
	--codeMirror-lineNumber-fgColor: #666666 !important;
	--codeMirror-cursor-fgColor: #1f1f1f !important;
	--codeMirror-selection-bgColor: #8a8a8a66 !important;
	--codeMirror-activeline-bgColor: #8a8a8a33 !important;
	--codeMirror-matchingBracket-fgColor: #1f1f1f !important;
	--codeMirror-lines-bgColor: #ffffff !important;
	--codeMirror-syntax-fgColor-comment: #6b6b6b !important;
	--codeMirror-syntax-fgColor-constant: #dcdcaa !important;
	--codeMirror-syntax-fgColor-entity: #dcdcaa !important;
	--codeMirror-syntax-fgColor-keyword: #c586c0 !important;
	--codeMirror-syntax-fgColor-storage: #4ec9b0 !important;
	--codeMirror-syntax-fgColor-string: #ce9178 !important;
	--codeMirror-syntax-fgColor-support: #79c0ff !important;
	--codeMirror-syntax-fgColor-variable: #4ec9b0 !important;
	--color-prettylights-syntax-comment: #6b6b6b !important;
	--color-prettylights-syntax-constant: #dcdcaa !important;
	--color-prettylights-syntax-constant-other-reference-link: #dcdcaa !important;
	--color-prettylights-syntax-entity: #79c0ff !important;
	--color-prettylights-syntax-storage-modifier-import: #4ec9b0 !important;
	--color-prettylights-syntax-entity-tag: #79c0ff !important;
	--color-prettylights-syntax-keyword: #c586c0 !important;
	--color-prettylights-syntax-string: #ce9178 !important;
	--color-prettylights-syntax-variable: #4ec9b0 !important;
	--contribution-default-bgColor-0: #f0f0f0 !important;
	--header-fgColor-logo: #ffffff !important;
	--header-bgColor: #252525 !important;
	--header-borderColor-divider: #888888 !important;
	--headerSearch-bgColor: #252525 !important;
	--headerSearch-borderColor: #888888 !important;
	--data-blue-color-muted: #e8e8e8 !important;
	--data-gray-color-emphasis: #808080 !important;
	--data-gray-color-muted: #e8e8e8 !important;
	--display-blue-bgColor-muted: #e8e8e8 !important;
	--display-blue-borderColor-muted: #d2d2d2 !important;
	--display-gray-bgColor-muted: #e8e8e8 !important;
	--display-gray-bgColor-emphasis: #747474 !important;
	--display-gray-fgColor: #5c5c5c !important;
	--display-gray-borderColor-muted: #d2d2d2 !important;
	--display-gray-borderColor-emphasis: #808080 !important;
	--display-cyan-bgColor-muted: #e8e8e8 !important;
	--display-cyan-borderColor-muted: #d2d2d2 !important;
	--display-indigo-bgColor-muted: #e8e8e8 !important;
	--display-indigo-borderColor-muted: #d2d2d2 !important;
	--avatar-shadow: 0px 0px 0px 2px #ffffffcc !important;
	--avatarStack-fade-bgColor-default: #c8c8c8 !important;
	--avatarStack-fade-bgColor-muted: #dadada !important;
	--color-calendar-graph-day-bg: #f0f0f0 !important;
	--control-bgColor-rest: #f7f7f7 !important;
	--control-bgColor-hover: #f0f0f0 !important;
	--control-bgColor-active: #e6e6e6 !important;
	--control-bgColor-disabled: #f0f0f0 !important;
	--control-bgColor-selected: #f7f7f7 !important;
	--control-fgColor-rest: #252525 !important;
	--control-fgColor-placeholder: #666666 !important;
	--control-fgColor-disabled: #888888 !important;
	--control-borderColor-rest: #d0d0d0 !important;
	--control-borderColor-emphasis: #888888 !important;
	--control-borderColor-disabled: #8888881a !important;
	--control-borderColor-selected: #252525 !important;
	--control-iconColor-rest: #666666 !important;
	--control-transparent-bgColor-rest: #ffffff00 !important;
	--control-transparent-bgColor-hover: #8888881a !important;
	--control-transparent-bgColor-active: #88888826 !important;
	--control-transparent-bgColor-disabled: #f0f0f0 !important;
	--control-transparent-bgColor-selected: #88888826 !important;
	--control-transparent-borderColor-rest: #ffffff00 !important;
	--control-transparent-borderColor-hover: #ffffff00 !important;
	--control-transparent-borderColor-active: #ffffff00 !important;
	--control-checked-bgColor-disabled: #888888 !important;
	--control-checked-fgColor-disabled: #ffffff !important;
	--control-checked-borderColor-disabled: #888888 !important;
	--controlTrack-bgColor-rest: #e6e6e6 !important;
	--controlTrack-bgColor-hover: #e0e0e0 !important;
	--controlTrack-bgColor-active: #dadada !important;
	--controlTrack-bgColor-disabled: #888888 !important;
	--controlTrack-fgColor-rest: #666666 !important;
	--controlTrack-borderColor-rest: #d0d0d0 !important;
	--controlTrack-borderColor-disabled: #888888 !important;
	--controlKnob-bgColor-rest: #ffffff !important;
	--controlKnob-bgColor-disabled: #f0f0f0 !important;
	--controlKnob-borderColor-rest: #888888 !important;
	--controlKnob-borderColor-disabled: #f0f0f0 !important;
	--counter-borderColor: #ffffff00 !important;
	--counter-bgColor-muted: #8888881f !important;
	--counter-bgColor-emphasis: #666666 !important;
	--button-danger-bgColor-rest: #f7f7f7 !important;
	--button-danger-bgColor-disabled: #f0f0f0 !important;
	--button-danger-borderColor-rest: #d0d0d0 !important;
	--button-default-fgColor-rest: #252525 !important;
	--button-default-bgColor-rest: #f7f7f7 !important;
	--button-default-bgColor-hover: #f0f0f0 !important;
	--button-default-bgColor-active: #e6e6e6 !important;
	--button-default-bgColor-selected: #e6e6e6 !important;
	--button-default-bgColor-disabled: #f0f0f0 !important;
	--button-default-borderColor-rest: #d0d0d0 !important;
	--button-default-borderColor-hover: #d0d0d0 !important;
	--button-default-borderColor-active: #d0d0d0 !important;
	--button-default-borderColor-disabled: #8888881a !important;
	--button-invisible-fgColor-rest: #252525 !important;
	--button-invisible-fgColor-hover: #252525 !important;
	--button-invisible-fgColor-disabled: #888888 !important;
	--button-invisible-iconColor-rest: #666666 !important;
	--button-invisible-iconColor-hover: #666666 !important;
	--button-invisible-iconColor-disabled: #888888 !important;
	--button-invisible-bgColor-rest: #ffffff00 !important;
	--button-invisible-bgColor-hover: #8888881a !important;
	--button-invisible-bgColor-active: #88888826 !important;
	--button-invisible-bgColor-disabled: #ffffff00 !important;
	--button-invisible-borderColor-rest: #ffffff00 !important;
	--button-invisible-borderColor-hover: #ffffff00 !important;
	--button-invisible-borderColor-disabled: #ffffff00 !important;
	--button-outline-fgColor-disabled: #80808080 !important;
	--button-outline-bgColor-rest: #f7f7f7 !important;
	--button-outline-bgColor-hover: #787878 !important;
	--button-outline-bgColor-active: #686868 !important;
	--button-outline-bgColor-disabled: #f0f0f0 !important;
	--button-outline-borderColor-hover: #d0d0d0 !important;
	--button-outline-borderColor-selected: #d0d0d0 !important;
	--button-inactive-fgColor: #666666 !important;
	--button-inactive-bgColor: #e6e6e6 !important;
	--buttonCounter-default-bgColor-rest: #8888881f !important;
	--buttonCounter-invisible-bgColor-rest: #8888881f !important;
	--buttonCounter-outline-bgColor-rest: #80808033 !important;
	--buttonCounter-outline-bgColor-hover: #80808033 !important;
	--buttonCounter-outline-bgColor-disabled: #8080800d !important;
	--buttonCounter-outline-fgColor-disabled: #80808080 !important;
	--reactionButton-selected-bgColor-rest: #e0e0e0 !important;
	--reactionButton-selected-bgColor-hover: #d0d0d0 !important;
	--menu-bgColor-active: #ffffff00 !important;
	--overlay-bgColor: #ffffff !important;
	--overlay-borderColor: #d0d0d080 !important;
	--overlay-backdrop-bgColor: #c8c8c866 !important;
	--selectMenu-borderColor: #ffffff00 !important;
	--selectMenu-bgColor-active: #e0e0e0 !important;
	--sideNav-bgColor-selected: #ffffff !important;
	--skeletonLoader-bgColor: #8888881a !important;
	--timelineBadge-bgColor: #f7f7f7 !important;
	--treeViewItem-leadingVisual-iconColor-rest: #7a7a7a !important;
	--underlineNav-borderColor-hover: #d0d0d0b3 !important;
	--underlineNav-iconColor-rest: #666666 !important;
	--card-bgColor: #ffffff !important;
	--label-gray-bgColor-rest: #e8e8e8 !important;
	--label-gray-bgColor-hover: #d2d2d2 !important;
	--label-gray-bgColor-active: #b4b4b4 !important;
	--label-gray-fgColor-rest: #5c5c5c !important;
	--label-gray-fgColor-hover: #4e4e4e !important;
	--label-gray-fgColor-active: #424242 !important;
	--tooltip-bgColor: #252525 !important;
	--fgColor-default: #1f1f1f !important;
	--fgColor-muted: #666666 !important;
	--fgColor-onInverse: #ffffff !important;
	--fgColor-black: #1f1f1f !important;
	--fgColor-disabled: #888888 !important;
	--fgColor-neutral: #666666 !important;
	--fgColor-closed: #666666 !important;
	--bgColor-default: #ffffff !important;
	--bgColor-muted: #f7f7f7 !important;
	--bgColor-inset: #f7f7f7 !important;
	--bgColor-emphasis: #252525 !important;
	--bgColor-black: #1f1f1f !important;
	--bgColor-disabled: #f0f0f0 !important;
	--bgColor-transparent: #ffffff00 !important;
	--bgColor-neutral-muted: #8888881f !important;
	--bgColor-neutral-emphasis: #666666 !important;
	--bgColor-accent-muted: #8a8a8a1a !important;
	--bgColor-closed-muted: #8888881f !important;
	--bgColor-closed-emphasis: #666666 !important;
	--borderColor-default: #d0d0d0 !important;
	--borderColor-muted: #d0d0d0b3 !important;
	--borderColor-emphasis: #888888 !important;
	--borderColor-disabled: #8888881a !important;
	--borderColor-transparent: #ffffff00 !important;
	--borderColor-neutral-muted: #d0d0d0b3 !important;
	--borderColor-neutral-emphasis: #666666 !important;
	--borderColor-accent-muted: #8a8a8a66 !important;
	--borderColor-closed-muted: #d0d0d066 !important;
	--borderColor-closed-emphasis: #888888 !important;
	--color-ansi-black: #1f1f1f !important;
	--color-ansi-black-bright: #393939 !important;
	--color-ansi-white: #666666 !important;
	--color-ansi-gray: #666666 !important;
	--diffBlob-hunkNum-bgColor-rest: #ededed !important;
	--shadow-inset: inset 0px 1px 0px 0px #1f1f1f0a !important;
	--shadow-resting-xsmall: 0px 1px 1px 0px #1f1f1f0f !important;
	--shadow-resting-small: 0px 1px 1px 0px #1f1f1f0f, 0px 1px 3px 0px #1f1f1f0f !important;
	--shadow-resting-medium: 0px 1px 1px 0px #2525251a,
		0px 3px 6px 0px #2525251f !important;
	--shadow-floating-small: 0px 0px 0px 1px #d0d0d080,
		0px 6px 12px -3px #2525250a, 0px 6px 18px 0px #2525251f !important;
	--shadow-floating-medium: 0px 0px 0px 1px #d0d0d0,
		0px 8px 16px -4px #25252514, 0px 4px 32px -4px #25252514,
		0px 24px 48px -12px #25252514, 0px 48px 96px -24px #25252514 !important;
	--shadow-floating-large: 0px 0px 0px 1px #d0d0d0,
		0px 40px 80px 0px #2525253d !important;
	--shadow-floating-xlarge: 0px 0px 0px 1px #d0d0d0,
		0px 56px 112px 0px #25252552 !important;
	--shadow-floating-legacy: 0px 6px 12px -3px #2525250a,
		0px 6px 18px 0px #2525251f !important;
	--color-canvas-default: #ffffff !important;
	--color-canvas-overlay: #ffffff !important;
	--color-canvas-inset: #f7f7f7 !important;
	--color-canvas-subtle: #f7f7f7 !important;
	--color-border-default: #d0d0d0 !important;
	--color-border-muted: #d0d0d0b3 !important;
	--color-border-subtle: rgba(31, 31, 31, 0.1) !important;
	--color-shadow-small: 0px 1px 1px 0px #1f1f1f0f !important;
	--color-shadow-medium: 0px 1px 1px 0px #2525251a, 0px 3px 6px 0px #2525251f !important;
	--color-shadow-large: 0px 40px 80px 0px #2525253d !important;
	--color-shadow-extra-large: 0px 56px 112px 0px #25252552 !important;
	--color-neutral-emphasis-plus: #414141 !important;
	--color-neutral-emphasis: #414141 !important;
	--color-neutral-muted: rgba(99, 99, 99, 0.4) !important;
	--color-neutral-subtle: rgba(99, 99, 99, 0.1) !important;
	--color-accent-muted: rgba(128, 128, 128, 0.4) !important;
	--color-accent-subtle: rgba(128, 128, 128, 0.1) !important;
	--color-success-muted: rgba(128, 128, 128, 0.4) !important;
	--color-success-subtle: rgba(128, 128, 128, 0.15) !important;
	--color-attention-muted: rgba(128, 128, 128, 0.4) !important;
	--color-attention-subtle: rgba(128, 128, 128, 0.15) !important;
	--color-severe-muted: rgba(128, 128, 128, 0.4) !important;
	--color-severe-subtle: rgba(128, 128, 128, 0.1) !important;
	--color-danger-muted: rgba(128, 128, 128, 0.4) !important;
	--color-danger-subtle: rgba(128, 128, 128, 0.1) !important;
	--color-open-muted: rgba(128, 128, 128, 0.4) !important;
	--color-open-subtle: rgba(128, 128, 128, 0.15) !important;
	--color-closed-muted: rgba(128, 128, 128, 0.4) !important;
	--color-closed-subtle: rgba(128, 128, 128, 0.15) !important;
	--color-done-muted: rgba(128, 128, 128, 0.4) !important;
	--color-done-subtle: rgba(128, 128, 128, 0.1) !important;
	--color-sponsors-muted: rgba(128, 128, 128, 0.4) !important;
	--color-sponsors-subtle: rgba(128, 128, 128, 0.1) !important;
	--color-primer-canvas-backdrop: rgba(248, 248, 248, 0.8) !important;
	--color-primer-canvas-sticky: rgba(255, 255, 255, 0.95) !important;
	--color-primer-border-contrast: hsla(0, 0%, 20%, 0.2) !important;
	--color-primer-shadow-highlight: 0 0 transparent !important;
	--color-primer-shadow-inset: 0 0 transparent !important;
	--color-scale-black: #1f1f1f !important;
	--color-scale-gray-0: #f7f7f7 !important;
	--color-scale-gray-1: #e7e7e7 !important;
	--color-scale-gray-2: #d0d0d0 !important;
	--color-scale-gray-3: #b7b7b7 !important;
	--color-scale-gray-4: #909090 !important;
	--color-scale-gray-5: #6e6e6e !important;
	--color-scale-gray-6: #545454 !important;
	--color-scale-gray-7: #3b3b3b !important;
	--color-scale-gray-8: #262626 !important;
	--color-scale-gray-9: #1a1a1a !important;
}

.markdown-body hr {
	height: 1px !important;
	background-color: var(
		--borderColor-muted,
		var(--color-border-muted)
	) !important;
}

.durGbC,
.eBevHz {
	box-shadow: none !important;
}

.IssueTypeToken-module__token--iQHKj[data-color="blue" i] {
	background: #e8e8e8 !important;
	border-color: #c0c0c0 !important;
}
