/* Keymap Editor (Github Dark) */
/* https://github.com/956MB/boosts/blob/main/keymap-editor-github-dark.css */

/* https://nickcoutsos.github.io/keymap-editor/ */

body[data-theme="dark"] {
	--bg: #0d1116 !important;
	--bg-rgb: #0d1116 !important;
	--dialog-bg: #141a22 !important;
	--key-bg-base: #1f2432 !important;
}
@media (prefers-color-scheme: dark) {
	body[data-theme="system"] {
		--bg: #0d1116 !important;
		--bg-rgb: #0d1116 !important;
		--dialog-bg: #141a22 !important;
		--key-bg-base: #1f2432 !important;
	}
}

[data-theme="dark"] #modal-root > div {
	background-color: rgba(52, 62, 82, 0.39) !important;
}
@media (prefers-color-scheme: dark) {
	[data-theme="system"] #modal-root > div {
		background-color: rgba(52, 62, 82, 0.39) !important;
	}
}

.ZpdcqlK42OntJos3eGw0 > div {
	width: auto !important;
}
